@model WebApplication2.Models.User

@{
    ViewBag.Title = "Login";
}

<div class="container">
    <h2 class="text-center" style="color: #fff;">Login</h2>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            @using (Html.BeginForm("Login", "Home", new { returnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()


                <div id="message" class="alert alert-danger text-center">Invalid username or password</div>



                <div class="form-group">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary btn-block" style="color: #fff;" />
                    </div>
                    <style>
                        .login-form {
                            background-color: #2ecc71;
                            padding: 2rem;
                            border-radius: 0.25rem;
                            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                            max-width: 30rem;
                            margin: 0 auto;
                            margin-top: 10rem;
                        }

                            .login-form h2 {
                                text-align: center;
                                margin-bottom: 2rem;
                                color: #fff;
                            }

                        .form-control {
                            background-color: #fff;
                        }

                        .form-group label {
                            font-weight: bold;
                            font-size: 1.1rem;
                            display: block;
                            margin-bottom: 0.5rem;
                            color: #fff;
                        }

                        .form-group .form-control {
                            margin-bottom: 1.5rem;
                            color: #000;
                        }

                        .btn-success {
                            background-color: #2ecc71;
                            border-color: #2ecc71;
                            color: #fff;
                            font-weight: bold;
                            padding: 0.75rem 2rem;
                        }

                            .btn-success:hover {
                                background-color: #1b9b54;
                                border-color: #1b9b54;
                            }

                        a {
                            color: #3498db;
                            text-decoration: none;
                        }

                            a:hover {
                                text-decoration: underline;
                            }

                        .register-link {
                            color: #fff;
                            font-weight: bold;
                        }
                    </style>
            }

            <p class="text-center" style="color: #000; font-weight: bold;">Don't have an account? <a href="@Url.Action("Register", "Home")" class="btn btn-primary">Register here</a></p>
        </div>
    </div>
</div>
<script>
    window.onload = function() {
        setTimeout(function() {
            var message = document.getElementById('message');
            message.parentNode.removeChild(message);
        }, 3000); // 3000 milliseconds = 3 seconds
    };
</script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>